/* Szerokość contentu i nawigacji - tak zeby dobrze było widac też na telefonie */

#page-content,#nav{
  padding-right: 0; 
  padding-left: 0; 
  margin-right: auto;
  margin-left: auto;
  margin-top: 1%;
}

/* Rozsuniecie walut w nawigacji */
.dropdown{
margin-left: 15px;
margin-right: 15px;
}

/* Wyśrodkowanie tekstu w tabelkach */
.col{
text-align: center;
}

.title{
border-top: 1px solid rgba(0,0,0,.125);
}

/* Zaokrąglone buttony */
button{
border-radius: 40px !important;
}

/* Poniżej tej rozdzielczości taki rozmiar czcionki */
@media (max-width: 600px) {
body,label{font-size: 10px !important;}
}

/* Wysokość listy w formularzu - tam gdzie wybierasz strategie */
/* .Select-control,.Select-multi-value-wrapper{
height: 4px !important;
} */
